<h1>Listing userns</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @userns.each do |usern| %>
  <tr>
    <td><%= usern.name %></td>
    <td><%= usern.email %></td>
    <td><%= link_to 'Show', usern %></td>
    <td><%= link_to 'Edit', edit_usern_path(usern) %></td>
    <td><%= link_to 'Destroy', usern, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Usern', new_usern_path %>
